:root {
    --background-color: #e6e6e6;
    --primary-text-color: #1f1f1f;
    --secondary-text-color: #2e2e2e;
    --link-color: #3641b2;

    --card-background-color: #ffffff;
    --card-border-color: #bbb;

    --max-page-width: 800px;

    --navbar-height: 70px;
}

.dark-mode {
    --background-color: #181818;
    --primary-text-color: #ffffff;
    --secondary-text-color: #bbbbbb;
    --link-color: #fcd37a;

    --card-background-color: #1f1f1f;
    --card-border-color: #525252;
}

body {
    background-color: var(--background-color);
    color: var(--secondary-text-color);

    /* font-family: Verdana, Geneva, Tahoma, sans-serif;     */
    font-family: "Roboto Mono";
    
    font-weight: 500;
    font-size: 1rem;
}


a {
    text-decoration: none;
    color: var(--link-color)
}

a:hover{
    text-decoration: underline;
}